/* CSS for buttons */
/* CSS for buttons */
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}
.show-answer {
  background-color: #008000;
  color: #fff;
}
.next-question {
  background-color: #fff;
  color: #008000;
  border: 1px solid #008000;
}
/* CSS for question and answer options */
h2 {
  margin-bottom: 20px;
}
.answer-option {
  margin: 10px 0;
}
/* CSS for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 0;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* CSS for answer options radio buttons*/
.answer-option input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.answer-option label {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
/* CSS for question and answer options */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
