{{ attach_library('fun_fact_quiz/mylibrary') }}
<div class="fun-fact-quiz" id="quiz-container">
  <h2>{{ question }}</h2>
  {% for answer in answer_options %}
    {% if answer == 'Show Answer' %}
      <button class="show-answer">Show Answer</button>
      <div class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p class="correct-answer" style="color: #008000;">Ans: {{ correct_answer }}</p>
          <button class="next-question">Next Question</button>
        </div>
      </div>
      <script>
        document.querySelector('.show-answer').addEventListener('click', function() {
          var selectedAnswerOption = document.querySelector('input[name="answer-option"]:checked');
          if (selectedAnswerOption) {
            if (selectedAnswerOption.value === "{{ correct_answer }}") {
              document.querySelector('.modal-content').innerHTML = '<span class="close">&times;</span><p class="feedback correct" style="color: #008000;">Your answer is correct!</p><p class="correct-answer" style="color: #008000;">Ans: {{ correct_answer }}</p><button class="next-question">Next Question</button>';
                 // Close the modal when the user clicks the close button
              document.querySelector('.close').addEventListener('click', function() {
              document.querySelector('.modal').style.display = 'none';
        });
            } else {
              document.querySelector('.modal-content').innerHTML = '<span class="close">&times;</span><p class="feedback incorrect">Your answer is not correct.</p><p class="correct-answer" style="color: #008000;">Ans: {{ correct_answer }}</p><button class="next-question">Next Question</button>';
                // Close the modal when the user clicks the close button
              document.querySelector('.close').addEventListener('click', function() {
              document.querySelector('.modal').style.display = 'none';
        });
            }
            document.querySelector('.modal').style.display = 'block';
          } else {
           // alert('Please select an answer');
           document.querySelector('.modal-content').innerHTML = '<span class="close">&times;</span><p class="feedback correct" style="color: #008000;">Please select an answer!</p><button class="ok-button">OK</button>';
           document.querySelector('.modal').style.display = 'block';
              //when ok button click modal display will be none 
        // Add click event listener to OK button
           document.querySelector('.ok-button').addEventListener('click', function() {
           document.querySelector('.modal').style.display = 'none';
      });

          }
        });

        document.querySelector('.modal-content').addEventListener('click', function(event) {
       if (event.target.classList.contains('next-question')) {
       // Save the current scroll position
        localStorage.setItem('scrollPos', window.scrollY);
    
       // Reload the page with a random parameter to prevent caching
       var url = window.location.href;
       var randomParam = "random=" + Math.random().toString(36).substring(7);
       url = url.indexOf('?') > -1 ? url + '&' + randomParam : url + '?' + randomParam;
       window.location.href = url; 
  }
});

// Restore the scroll position after the page reloads
window.addEventListener('load', function() {
  var scrollPos = localStorage.getItem('scrollPos');
  if (scrollPos) {
    window.scrollTo(0, scrollPos);
    localStorage.removeItem('scrollPos');
  }
});
      </script>
    {% else %}
      <div class="answer-option">
        <input type="radio" name="answer-option" id="{{ answer }}" value="{{ answer }}">
        <label for="{{ answer }}">{{ answer }}</label>
      </div>
    {% endif %}
  {% endfor %}
</div>
